---
// npm run dev -- --host
import { getText } from "/root/lumonike/astro/src/pages/js/cf_probs.js"
let text = await getText();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Silly Goose-dom</title>
	</head>
	<body style="overflow: hidden;">
        <textarea style="width: 100vw; height: 100vh; top: 0; left: 0; position: absolute;">{text.lines}</textarea>
	</body>
</html>
