---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Silly Goose-dom</title>
	</head>
	<body>
		<a href="cf_probs">CF PROBLEMS</a>
		<br>
		<a href="cookie_clicker">cookie clicker</a>
		<h1>"CSS overrated" - Sun Tzu</h1>
	</body>
</html>
