---
const basePath = import.meta.env.BASE_PATH;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Silly Goose-dom</title>
	</head>
	<body>
		<a href="cf_probs">[codeforces problems]</a><br>
		<a href="pokemonFireRed.html">pokeim FIRE RED (yay): click me to waste your life!</a><br>
		<br>
		<h1>"CSS overrated" - Sun Tzu</h1>
	</body>
</html>
